<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <InputDefaultBindingsFixApplied>true</InputDefaultBindingsFixApplied>
    <ShowMenuFixApplied>true</ShowMenuFixApplied>
    <MenuUpdateVersion>0</MenuUpdateVersion>
    <Volume>100</Volume>
    <RecentFiles>
        <string>D:\Movies\Eyes Wide Shut (1999) [1080p]\Eyes.Wide.Shut.1999.1080p.BluRay.x264.YIFY.mp4</string>
    </RecentFiles>
    <WindowLocation>
        <X>0</X>
        <Y>0</Y>
    </WindowLocation>
    <WindowPosition>
        <X>951</X>
        <Y>500</Y>
    </WindowPosition>
    <WindowSize>
        <Width>1110</Width>
        <Height>624</Height>
    </WindowSize>
    <AudioDevice />
    <ConfigEditorSearch>posi</ConfigEditorSearch>
    <Mute>no</Mute>
    <StartupFolder />
</AppSettings>